body {
    text-align: left;
    font-family: monospace;
    font-size: 16px;
    background:rgb(37, 38, 48);
    color: rgb(173, 226, 87);
    margin-left: 7px;
    margin-right: 375px;
    margin-bottom: 25px;
}

.footer {
    position: absolute;
    font-size: 14px;
    text-align: center;
    background:rgb(37, 38, 48);
    color: rgb(173, 226, 87);
    vertical-align: center;
    width: 100%;
    margin:0 auto;
    bottom: 5;
}

.scrollHeader {
    position: fixed;
    -webkit-transform: translateZ(0);
    width:100%;
    top:0;
    background:rgb(37, 38, 48);
    color: rgb(173, 226, 87);
}

.smaller {
    font-size: 17px;
}

.smallSpace {
    font-size: 7px;
}

.companyFont {
    font-size: 18px;
}

.topicFont {
    font-size:27px;
}

.cloke {
    color: rgb(37, 38, 48);
}

.lastUpdated {
    font-style: italic;
    color: rgb(91, 122, 38);
}

a:link {
    color: rgba(185, 252, 77, 0.849);
    /*background-color: transparent;*/
    text-decoration: none;
}

a:visited {
    color: rgba(185, 252, 77, 0.849);
    /*background-color: transparent;*/
    text-decoration: none;
}

a:hover {
    color:rgba(185, 252, 77, 0.849);
    /*background-color: transparent;*/
    text-decoration: underline;
}

a:active {
    color: rgba(185, 252, 77, 0.849);
    /*background-color: transparent;*/
    text-decoration: none;
}