<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href='/static/style.css' />
        <script src="https://kit.fontawesome.com/fa5d7fcc18.js" crossorigin="anonymous"></script>
        <title>Electric Skateboard</title>
        <link rel="icon" type="image/png" href="/static/logo.png">
    </head>

    <div class="scrollHeader">
        <h1>
            <i class="fas fa-angle-double-right"></i><span class='smallSpace'>&nbsp;&nbsp;&nbsp;</span>Joseph Hodson<span class='smallSpace'>&nbsp;</span><img SRC="/static/cursor.gif">
            <span class='smaller'><span style="float:right;">
            <a href="mailto:Josephahodson@gmail.com"><i class="fas fa-envelope" style="font-size: 1.4em;"></i></a>
            <!-- <a href="www.google.com"><i class="fas fa-mobile "style="font-size: 1.4em;"></i></a> -->
            <a href="https://github.com/Joeyhodson"><i class="fab fa-github "style="font-size: 1.4em;"></i></a>
            <a href="https://www.linkedin.com/in/joseph-a-hodson/"><i class="fab fa-linkedin "style="font-size: 1.4em;"></i></a>
            <a href="/resume"><i class="fas fa-file-alt"style="font-size: 1.4em;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
        </h1>
    </div>

    <body>

        <br><br><br><br>

        <!-- Intro -->
        <h2><b><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Electric Skateboard</span></b></h2>
        <p>
           Probably my most dangerous project to this date, I modded my existing penny board into a remote-controlled electric skateboard. This project required a lot of intuition
           and a lot of mechanical work to get everything fitting proper underneath. I created this project around the time when electric skateboards were gaining popularity, so the first thing that raced 
           my mind when seeing one around UCF's campus was to build one myself. All in all, for how much I knew at the time, 
           I was really impressed that I got this thing to work at a decent speed. It wasn't entirely practical, but it's surely fun to ride around on.
        </p>

        <!-- Technical Details -->
        <br>
        <h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Technical Details</span></h2>
        <ul>
            <li>My first goal was to find a motor that was able to propel me at a good working speed. Instead of going the brushless route, I went with a cheaper single-motor setup in which
                had a lot of torque. I decided with some 24VDC motor that I had found on eBay.</li>
            <li>With an 11V LiPo battery I had laying around, I decided to purchase an identical battery and wire the two in series creating a strong enough voltage to get the motor moving at almost full speed. 
                A few pluses with LiPos is that first, they are rechargeable, and second, they are very lightweight.</li>
            <li>Having to dremel into the board in a few places and mount a metal gear to one of the wheels, I attached a belt to the gear and strung it to the motor allowing a very tight connection
                between the two. This allowed the wheel to spin whenever the motor was activated.</li>
            <li>To activate the motor remotely, I purchased a general DC fan relay that included a remote controller. After some tinkering I was able to properly wire everything to the relay's terminals, I had turned my skateboard into an
                electric skateboard.</li>
        </ul>

        <!-- Visuals -->
        <br>
        <h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Visuals</span></h2>
        <br>
        <p>COMING SOON!</p>
        <!-- <img src="/static/project_photos/underneathSkate.jpg" alt="Spider Front" style="width:500px;height:600px;">
        <br>
        <video width="320" height="240" autoplay>
            <source src="skateLive.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>  -->
        <br>

        <!-- Footer -->
        <br><br><br><br>
        <div class ="footer">
            <span style="float:center;">
                <a href="/LEDCube"><i class="fas fa-caret-left"></i> LED Cube</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/">Home <i class="fas fa-home"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/FishTank">Fish Tank <i class="fas fa-caret-right"></i></a></span>
            <br><br><br>
        </div>

    </body>

</html>