<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href='/static/style.css' />
        <script src="https://kit.fontawesome.com/fa5d7fcc18.js" crossorigin="anonymous"></script>
        <title>Fish Tank</title>
        <link rel="icon" type="image/png" href="/static/logo.png">
    </head>

    <div class="scrollHeader">
        <h1>
            <i class="fas fa-angle-double-right"></i><span class='smallSpace'>&nbsp;&nbsp;&nbsp;</span>Joseph Hodson<span class='smallSpace'>&nbsp;</span><img SRC="/static/cursor.gif">
            <span class='smaller'><span style="float:right;">
            <a href="mailto:Josephahodson@gmail.com"><i class="fas fa-envelope" style="font-size: 1.4em;"></i></a>
            <!-- <a href="www.google.com"><i class="fas fa-mobile "style="font-size: 1.4em;"></i></a> -->
            <a href="https://github.com/Joeyhodson"><i class="fab fa-github "style="font-size: 1.4em;"></i></a>
            <a href="https://www.linkedin.com/in/joseph-a-hodson/"><i class="fab fa-linkedin "style="font-size: 1.4em;"></i></a>
            <a href="/resume"><i class="fas fa-file-alt"style="font-size: 1.4em;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
        </h1>
    </div>

    <body>
        
        <br><br><br><br>

        <!-- Intro -->
        <h2><b><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Self-Sufficient Fish Tank</span></b></h2>
        <p>
           The inspiration to undertake this project originated because I wanted to get another fish, as I used to have many. My only thing about getting a fish tank was 
           that they required a little bit of setting up and required multiple utilities (air pumps, filters, lights, etc.). These utilities usually require their own power supplies
           and therefore more messy cords. My goal was to integrate all of these utilities into one functioning system and rely on a single power supply.
        </p>

        <!-- Technical Details -->
        <br>
        <h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Technical Details</span></h2>
        <ul>
            <li>The embedded system is centered around a Top Fin air pump, originally powered by two D-batteries. Instead, I gutted the lower portion of the pump's container and placed
                the system's controller, an Arduino Nano, where the batteries would usually be inserted.</li>
            <li>The system's power supply is an old laptop charger that outputs 12VDC, 1.5A after being connected to a buck convertor. The output of the DC-DC convertor feeds directly
                to the Nano.</li>
            <li>I implemented a homemade filter by using a USB water pump in which runs off 3V-9V DC. I wanted a stronger filter so the water pump's power supply came from a voltage divider from
                the system's main input voltage, outputting roughly 8.5V.</li>
            <li>The air pump's motor originally ran off 3VDC (two D-batteries) so I therefore connected the 3.3V pin from the Nano to a resistor and then to the pump.</li>
            <li>The Nano's main purpose was to control the lighting in which I programmed using color schemes from Palleteknife.</li>
            <li>I used 20 WS2812B individually-addressable LEDs that I soldered into a rectangular formation (5x4) to easily fit into a square container, fitting nicely on top of the tank.
                The 3-wire LEDs used both power/ground and a data wire (data pin: 6 in my setup). I soldered the LEDs' power/ground pins in parallel and the data pins I soldered in series as the signal carried
                from LED to LED. I added a single capacitor before the power/ground terminals to limit any noise to the LEDs.</li>
            <li>I added two switches, one for the system's total power supply, and one for the LEDs.</li>
            <li>To allow for better portability and maintenance, all parts of the system can be detached as I used JST connectors between the utilities.</li>
        </ul>

        <!-- Visuals -->
        <br>
        <p>COMING SOON!</p>
        <!-- <h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Visuals</span></h2>
        <img src="/static/project_photos/fishTank1.jpg" alt="Fish tank side" style="width:500px;height:600px;">
        <br>
        <video width="320" height="240" autoplay>
            <source src="fishTankLive.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>  -->
        <br>

        <!-- Footer -->
        <br><br><br><br>
        <div class ="footer">
            <span style="float:center;">
                <a href="/ElectricSkateboard"><i class="fas fa-caret-left"></i> Electric Skateboard</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/">Home <i class="fas fa-home"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/LEDFootwells">LED Footwells <i class="fas fa-caret-right"></i></a></span>
            <br><br><br>
        </div>

    </body>

</html>