<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href='/static/style.css' />
        <script src="https://kit.fontawesome.com/fa5d7fcc18.js" crossorigin="anonymous"></script>
        <title>Fishing</title>
        <link rel="icon" type="image/png" href="/static/logo.png">
    </head>

    <div class="scrollHeader">
        <h1>
            <i class="fas fa-angle-double-right"></i><span class='smallSpace'>&nbsp;&nbsp;&nbsp;</span>Joseph Hodson<span class='smallSpace'>&nbsp;</span><img SRC="/static/cursor.gif">
            <span class='smaller'><span style="float:right;">
            <a href="mailto:Josephahodson@gmail.com"><i class="fas fa-envelope" style="font-size: 1.45em;"></i></a>
            <!-- <a href="www.google.com"><i class="fas fa-mobile "style="font-size: 1.4em;"></i></a> -->
            <a href="https://github.com/Joeyhodson"><i class="fab fa-github "style="font-size: 1.45em;"></i></a>
            <a href="https://www.linkedin.com/in/joseph-a-hodson/"><i class="fab fa-linkedin "style="font-size: 1.45em;"></i></a>
            <a href="/resume"><i class="fas fa-file-alt"style="font-size: 1.45em;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
        </h1>
    </div>

    <body>
        
        <br><br><br><br>

        <!-- Intro -->
        <h2><b><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Fishing / Spearfishing</span></b></h2>
        <p>
           Growing up on the coast of Florida with a father who owned a boat, how did I not end up liking to fish? From my earliest memories, I was off fishing in the Eggmont Channel right out of Tampa Bay.
           Only later on in my childhood did my father, brothers, and I start to spearfish. In fact, the first time I scuba dived I was in St. Croix. My brothers and I soon became scuba certified allowing us
           to spearfish in our favorite places, the Florida Keys and back home in the Gulf of Mexico.
        </p>

        <!-- Visuals -->
        <br>
        <h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Visuals</span></h2>
        <br>
        <p>COMING SOON!</p>
        <!-- <img src="/static/project_photos/underneathSkate.jpg" alt="Spider Front" style="width:500px;height:600px;"> -->
        <br>

        <!-- Footer -->
        <br><br><br><br>
        <div class ="footer">
            <span style="float:center;">
                <a href="/3DPrinting"><i class="fas fa-caret-left"></i> 3D Printing</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/">Home <i class="fas fa-home"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/Photography">Photography <i class="fas fa-caret-right"></i></a></span>
            <br><br><br>
        </div>

    </body>

</html>