<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href='/static/style.css' />
        <script src="https://kit.fontawesome.com/fa5d7fcc18.js" crossorigin="anonymous"></script>
        <title>Joeyhodson</title>
        <link rel = "icon" type = "image/png" href = "/static/logo.png">
    </head>

    <div class="scrollHeader">
        <h1>
            <i class="fas fa-angle-double-right"></i><span class='smallSpace'>&nbsp;&nbsp;&nbsp;</span>Joseph Hodson<span class='smallSpace'>&nbsp;</span><IMG SRC="static/cursor.gif">
            <span class='smaller'><span style="float:right;">
            <a href="mailto:Josephahodson@gmail.com"><i class="fas fa-envelope" style="font-size: 1.4em;"></i></a>
            <!-- <a href="www.google.com"><i class="fas fa-mobile "style="font-size: 1.4em;"></i></a> -->
            <a href="https://github.com/Joeyhodson"><i class="fab fa-github "style="font-size: 1.4em;"></i></a>
            <a href="https://www.linkedin.com/in/joseph-a-hodson/"><i class="fab fa-linkedin "style="font-size: 1.4em;"></i></a>
            <a href="/resume"><i class="fas fa-file"style="font-size: 1.4em;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
        </h1>
    </div>

    <body>

        <!-- Top of the page reference anchor -->
        <a name="ref5"></a><br><br><br><br>
        
        <p>Greetings! Welcome to my website. Here you can learn a little bit more about some of my passions and what I'm all about. </p>
        <p><i>This web server is currently being deployed on a Raspberry Pi utilizing a Python web framework, Flask.</i></p>

        <ul>
            <li><a href="#ref1">About</a></li>
            <li><a href="#ref2">Experience</a>
                <!-- Invisible reference anchor // bad practice? -->
                        <a name="ref1"></a></li>
            <li><a href="#ref3">Projects</a></li>
            <li><a href="#ref4">Leisure Activities</a></li>
        </ul>

        <!-- Start of content -->


        <!-- About -->
        <br><h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;About</span></h2>
        <p> 
            If there's anything you can take from visiting my website, it's that you should know I like to go by Joey. 
            I'm currently attending The University of Central Florida where I'm pursuing a Bachelor's Degree in Electrical Engineering.
            <!-- Invisible reference anchor -->
                   <a name="ref2"></a>
            It may seem slightly unorthodox for an EE to be concerned about developing a website, but you should know that I not only have a passion for the hardware side of things,
            but also the software side. Because of this, I decided to pursue a minor in Computer Science. Doing so has really broadened my horizons and has
            allowed me to better understand how the two integrate with each other. 
        </p>


        <!-- Experience -->
        <br><h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Experience</span></h2>
        <p>
            <span class='companyFont'><b><a href="https://www.lockheedmartin.com/">Lockheed Martin Space</a></b>, Cape Canaveral, FL &nbsp;&nbsp;<span style="float:right;">May 2020 - August 2020&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
            <br><i>Electrical Engineer Intern</i>
            <ul>
                <li>Mined 32 years of Trident II testing data to feed a machine learning model that predicts the most probable solution(s) to a test fault.</li>
                <li>Used Tableau to theorize and depict biases within my dataset in order to provide my team with advanced data analytics.</li>
                <li>Cross referenced Naval Acceptance Test Requirements to hardware failure reports in order to derive the root causes of out-of-specification hardware failures.</li>
            </ul>
        <p>
            <span class='companyFont'><b><a href="https://www.i-con.com/">I-CON Systems</a></b>, Oviedo, FL &nbsp;&nbsp;<span style="float:right;">January 2020 - March 2020&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
            <br><i>Electrical Engineer Intern</i>
            <ul>
                <li>Helped conduct numerous, unique tests on active infrared sensors that are implemented throughout I-CON’s major commercial product line.</li>
                <li>Used EAGLE to redesign existing PCBs.</li>
            </ul>
        </p>

        <p>
            <span class='companyFont'><b><a href="https://www.kumon.com/">Kumon</a></b>, Dunedin, FL &nbsp;&nbsp;<span style="float:right;">January 2017 - October 2017&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
            <br><i>Math Tutor</i>
            <ul>
                <li>Functioned primarily as a tutor, teaching higher-level math concepts while also tutoring fundamental mathematics and literacy.</li>
                    <!-- Invisible reference anchor -->
                          <a name="ref3"></a>
                <li>Analyzed individual students’ coursework and evaluated the concepts they needed to redo or move on to so they could progress in their courses.</li>
            </ul>
        </p>


        <!-- Projects -->
        <br><h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Projects</span></h2>
        <p>Below you can find a majority of the projects I have worked on in the past, ranging from small to slightly more significant.</p>
        <ul>
            <li><a href="/RoboticQuadruped">Robotic Quadruped</a></li>
            <li><a href="/LEDCube">LED Cube</a></li>
            <li><a href="/ElectricSkateboard">Electric Skateboard</a></li>
            <li><a href="/FishTank">Self-Sufficient Fish Tank</a></li>
                <!-- Invisible reference anchor -->
                        <a name="ref4"></a>
            <li><a href="/LEDFootwells">LED Footwells</a></li>
        </ul>
        <p><i>Documentation may be limited for certain projects due to the time in which I went through with them. My more recent projects may have more specifics due to their recency.</i></p>

        <!-- Leisure Activities -->
        <br><h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Leisure Activities</span></h2>
        <p>
            To really personalize my site I felt it would be nice to include some of my personal interests and activities. Funny enough, you already know a lot of what I do in my free time if you visited my <a href="#ref3">Projects</a> section.
        </p>
        <ul>
            <li><a href="/3DPrinting">3D Printing</a></li>
            <li><a href="/Fishing">Fishing/Spearfishing</a></li>
            <li><a href="/Photography">Photography/Traveling</a></li>
        </ul>
        <br><br>

        <!-- <span class='lastUpdated'><p>Latest update was on: <span id="demo"></span>.</p></span>

        <script>
            document.getElementById("demo").innerHTML = document.lastModified;
        </script> -->
        <p>
            Thanks for stopping by!
        </p>
        <p>
            <i>For any sort of contact purposes, the most reliable way is to shoot me a quick email.</i><br><br><br>
        </p>

        <!-- <span class="footer">
            <br>
            <center><a href="#ref5">Take me to the top</a></center>
        </span> -->

        <span class ='footer'>
            <span style="float:center;"><a href="#ref5">Top of the page.</a></span><br><br>
        </span>

    </body>

</html>