<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href='/static/style.css' />
        <script src="https://kit.fontawesome.com/fa5d7fcc18.js" crossorigin="anonymous"></script>
        <title>Joeyhodson</title>
        <link rel = "icon" type = "image/png" href = "/static/logo.png">
    </head>

    <div class="Header">
        <h1>
            Joseph Hodson<span class='smaller'><span style="float:right;">
            <a href="mailto:Josephahodson@gmail.com"><i class="fas fa-envelope" style="font-size: 1.4em;"></i></a>
            <!-- <a href="www.google.com"><i class="fas fa-mobile "style="font-size: 1.4em;"></i></a> -->
            <a href="https://github.com/Joeyhodson"><i class="fab fa-github "style="font-size: 1.4em;"></i></a>
            <a href="https://www.linkedin.com/in/joseph-a-hodson/"><i class="fab fa-linkedin "style="font-size: 1.4em;"></i></a>
            <a href="/resume"><i class="fas fa-file"style="font-size: 1.4em;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;</span></span>
        </h1>
    </div>

    <body>
        <!-- breaks below are due to scrolling header -->
        <br><br><br> 
        <p>Greetings! Welcome to my website. Here you can learn a little bit more about some of my passions and what I'm all about. </p>
        <p><i>This web server is currently being deployed on a Raspberry Pi utilizing a Python web framework, Flask.</i></p>

        <ul>
            <li><a href="#ref1">About</a></li>
            <li><a href="#ref2">Experience</a></li>
            <li><a href="#ref3">Projects</a></li>
            <li><a href="#ref4">Leisure Activities</a></li>
        </ul>

        <h2><span class='topicFont'><a name="ref1">About</a></span></h2>
        <p>
            If there's anything you can take from visiting my website, it's that you should know I like to go by Joey. 
            I'm currently attending The University of Central Florida where I'm pursuing a Bachelor's Degree in Electrical Engineering.
            It may seem odd for an EE to be concerned about developing a website, but you should know that I not only have a passion for the hardware side of things,
            but also the software side. Because of this, I decided to pursue a minor in Computer Science. Doing so has really broadened my horizons and has
            allowed me to greater underatand how the two integrate with each other. 
        </p>

        <br><h2><span class='topicFont'><a name="ref2">Experience</a></span></h2>
        <p>
            <span class='greaterfont'><b>Lockheed Martin Space</b>, Cape Canaveral, FL <span style="float:right;">May 2020 to August 2020&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
            <br><i>Electrical Engineer Intern</i>
            <ul>
                <li>Mined 32 years of Trident II testing data to feed a machine learning model that predicts the most probable solution(s) to a test fault.</li>
                <li>Used Tableau to theorize and depict biases within my dataset in order to provide my team with advanced data analytics.</li>
                <li>Cross referenced Naval Acceptance Test Requirements to hardware failure reports in order to derive the root causes of out-of-specification hardware failures.</li>
            </ul>
        <p>
            <span class='greaterfont'><b>I-CON Systems</b>, Oviedo, FL <span style="float:right;">January 2020 to March 2020&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
            <br><i>Electrical Engineer Intern</i>
            <ul>
                <li>Helped conduct numerous, unique tests on active infrared sensors that are implemented throughout I-CON’s major commercial product line.</li>
                <li>Used EAGLE to redesign existing PCBs.</li>
            </ul>
        </p>

        <p>
            <span class='greaterfont'><b>Kumon</b>, Dunedin, FL <span style="float:right;">January 2017 to October 2017&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
            <br><i>Math Tutor</i>
            <ul>
                <li>Functioned primarily as a tutor, teaching higher-level math concepts while also tutoring fundamental mathematics and literacy.</li>
                <li>Analyzed individual students’ coursework and evaluated the concepts they needed to redo or move on to so they could progress in their courses.</li>
            </ul>
        </p>

        <br><h2><span class='topicFont'><a name="ref3">Projects</a></span></h2>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>

        <br><h2><span class='topicFont'><a name="ref4">Leisure Activities</a></span></h2>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <p>foo</p>
        <br>
    </body>

</html>