<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href='/static/style.css' />
        <script src="https://kit.fontawesome.com/fa5d7fcc18.js" crossorigin="anonymous"></script>
        <title>LED Cube</title>
        <link rel="icon" type="image/png" href="/static/logo.png">
    </head>

    <div class="scrollHeader">
        <h1>
            <i class="fas fa-angle-double-right"></i><span class='smallSpace'>&nbsp;&nbsp;&nbsp;</span>Joseph Hodson<span class='smallSpace'>&nbsp;</span><img SRC="/static/cursor.gif">
            <span class='smaller'><span style="float:right;">
            <a href="mailto:Josephahodson@gmail.com"><i class="fas fa-envelope" style="font-size: 1.45em;"></i></a>
            <!-- <a href="www.google.com"><i class="fas fa-mobile "style="font-size: 1.4em;"></i></a> -->
            <a href="https://github.com/Joeyhodson"><i class="fab fa-github "style="font-size: 1.45em;"></i></a>
            <a href="https://www.linkedin.com/in/joseph-a-hodson/"><i class="fab fa-linkedin "style="font-size: 1.45em;"></i></a>
            <a href="/resume"><i class="fas fa-file-alt"style="font-size: 1.45em;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
        </h1>
    </div>

    <body>

        <br><br><br><br>

        <!-- Intro -->
        <h2><b><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;LED Cube</span></b></h2>
        <p>
           This may be one my most treasured projects that I have completed since this was my first ever side-project related to my field. This project wasn't necessarily difficult and may not be extremely intriguing to the naked eye,
           however, at the time, it was to me. The LED Cube opened a whole new world of electronics to me and really inspired me to continue to work with microcontrollers. I was completely mindblown at the fact that I had created 
           the flashing cube before me.
        </p>

        <!-- Technical Details -->
        <br>
        <h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Technical Details</span></h2>
        <ul>
            <li>Ran the program from an Arduino Uno. Other hardware consisted of: 4x4x4 (64) blue leds, and 4 resistors for every level of of the cube, where every level was grounded. The bottom 16 pins of the led
                structure were connected to 16 different gpio pins from the Uno.</li>
            <li>Since knowing nothing about programming at the time, I tweaked some online source code in which provided a series of lighting effects.</li>
            <li>A ton of delicate soldering was required for this project as well, this was a challenge for me as I was just a beginner. I was also using lead-free solder at the time in which
                subsequently made the process a lot harder.</li>
        </ul>

        <!-- Visuals -->
        <br>
        <h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Visuals</span></h2>
        <br>
        <p>COMING SOON!</p>
        <!-- <img src="/static/project_photos/cube1.jpg" alt="LED Cube off" style="width:500px;height:600px;">
        <br>
        <img src="/static/project_photos/cube2.jpg" alt="LED Cube underneath" style="width:500px;height:600px;">
        <br>
        <video width="320" height="240" autoplay>
            <source src="cube3.mp4" type="video/mp4">
            <source src="cube3.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video>  -->
        <br>

        <!-- Footer -->
        <br><br><br><br>
        <div class ="footer">
            <span style="float:center;">
                <a href="/RoboticQuadruped"><i class="fas fa-caret-left"></i> Robotic Quadruped</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/">Home <i class="fas fa-home"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/ElectricSkateboard">Electric Skateboard <i class="fas fa-caret-right"></i></a></span>
            <br><br><br>
        </div>

    </body>

</html>