<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href='/static/style.css' />
        <script src="https://kit.fontawesome.com/fa5d7fcc18.js" crossorigin="anonymous"></script>
        <title>Robotic Quadruped</title>
        <link rel="icon" type="image/png" href="/static/logo.png">
    </head>

    <div class="scrollHeader">
        <h1>
            <i class="fas fa-angle-double-right"></i><span class='smallSpace'>&nbsp;&nbsp;&nbsp;</span>Joseph Hodson<span class='smallSpace'>&nbsp;</span><img SRC="/static/cursor.gif">
            <span class='smaller'><span style="float:right;">
            <a href="mailto:Josephahodson@gmail.com"><i class="fas fa-envelope" style="font-size: 1.45em;"></i></a>
            <!-- <a href="www.google.com"><i class="fas fa-mobile "style="font-size: 1.4em;"></i></a> -->
            <a href="https://github.com/Joeyhodson"><i class="fab fa-github "style="font-size: 1.45em;"></i></a>
            <a href="https://www.linkedin.com/in/joseph-a-hodson/"><i class="fab fa-linkedin "style="font-size: 1.45em;"></i></a>
            <a href="/resume"><i class="fas fa-file-alt"style="font-size: 1.45em;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
        </h1>
    </div>

    <body>

        <br><br><br><br>

        <!-- Intro -->
        <h2><b><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Robotic Quadruped</span></b></h2>
        <p>
           The robotic quadruped, a robotic spider with four legs. I always wanted to create some sort of robot and I had been playing around with servo motors at the time, so when I
           saw a similar quadruped online, I instantly knew I wanted to make one. I found an online tutorial that brought inspiration, however, I decided to tackle this project with little guidance to gain better 
           experience. Going about this blindly, I decided to make the robot autonomous and unidirectional for simplicity. I still have a passion for robotics and may consider developing a second spider using
           a romote controller and stronger servos. My greatest struggle with this project was limiting stress on the servos and trying to decrease the robot's total body weight.
        </p>

        <!-- Technical Details -->
        <br>
        <h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Technical Details</span></h2>
        <ul>
            <li>I used an Arduino Nano as the controller since they are lighter than Unos. The controller was powered by a 9v lithium battery.</li>
            <li>The robot had four 3-part moving limbs and therefore used 12 SG90 servo motors. I used 12 digital gpio pins and had a common power supply plane and ground plane that fed to
                each motor. I dealt with a lot of jitter in the motors so I included a few capacitors between the power/ground planes in which helped quite a bit.</li>
            <li>The limbs were made from paint sticks in which I sanded and spray-painted black (I was on a budget). I cut 4 sticks each into 2 separate pieces, 4 femurs and 4 coxas.</li>
            <li>To limit stress on the servos, I switched from 4 alkaline batteries to 4 lithium batteries, weighing roughly 60% of what the original AA batteries did. The AA batteries 
                were wired in two sets of series connections, the two sets were then wired in parallel, outputting 3V to the servos.</li>
            <li>The program essentially had a series of for loops within a while loop, each for loop being a servo motor's rotation. Having some new found knowledge in programming, I might implement
                this a little differently today.</li>
        </ul>

        <!-- Visuals -->
        <br>
        <h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Visuals</span></h2>
        <br>
        <p>COMING SOON!</p>
        <!-- <img src="/static/project_photos/spiderUnderneath.jpg" alt="Spider underneath" style="width:500px;height:600px;"> -->
        <br>

        <!-- Footer -->
        <br><br><br><br>
        <div class ="footer">
            <span style="float:center;">
                <a href="/Photography"><i class="fas fa-caret-left"></i> Photography</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/">Home <i class="fas fa-home"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/LEDCube">LED Cube <i class="fas fa-caret-right"></i></a></span>
            <br><br><br>
        </div>

    </body>

</html>