<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href='/static/style.css' />
        <script src="https://kit.fontawesome.com/fa5d7fcc18.js" crossorigin="anonymous"></script>
        <title>Electric Skateboard</title>
        <link rel="icon" type="image/png" href="/static/logo.png">
    </head>

    <!-- Header -->

    <div class="scrollHeader">
        <h1>
            <i class="fas fa-angle-double-right"></i><span class='smallSpace'>&nbsp;&nbsp;&nbsp;</span>Joseph Hodson<span class='smallSpace'>&nbsp;</span><img SRC="/static/cursor.gif">
            <span class='smaller'><span style="float:right;">
            <a href="mailto:Josephahodson@gmail.com"><i class="fas fa-envelope" style="font-size: 1.4em;"></i></a>
            <a href="https://github.com/Joeyhodson"><i class="fab fa-github "style="font-size: 1.4em;"></i></a>
            <a href="https://www.linkedin.com/in/joseph-a-hodson/"><i class="fab fa-linkedin "style="font-size: 1.4em;"></i></a>
            <a href="/resume"><i class="fas fa-file-alt"style="font-size: 1.4em;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
        </h1>
    </div>

    <body>

        <span class='spaceLines'>

        <br><br><br><br>

        <!-- Intro -->
        <h2><b><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Electric Skateboard</span></b></h2>
        <p>
           Probably my most dangerous project to date, in which I modded my penny board into a remote-controlled, electric skateboard. This project required intuition
           and intensive mechanical work to fit every component under the board. Inspired by the many electric skateboards I saw on campus at UCF, I decided to embark 
           on this project for fun, and I was definitely impressed by the speed of the board even though it was more of a novelty than something practical.
        </p>

        <!-- Technical Details -->
        <br>
        <h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Technical Details</span></h2>
        <ul>
            <li>My first goal was to find a motor that was able to propel me at a good working speed. Instead of going the brushless route, I went with a cheaper single-motor setup in which
                had a lot of torque. I decided with some 24VDC motor that I had found on eBay.</li>
                <br>
            <li>With an 11V LiPo battery I had laying around, I decided to purchase an identical battery and wire the two in series creating a strong enough voltage to get the motor moving at almost full throttle. 
                A few pluses with LiPos is that first, they are rechargeable, and second, they are very lightweight.</li>
                <br>
            <li>Having to dremel into the board in a few places and mount a metal gear to one of the wheels, I attached a belt to the gear and strung it to the motor allowing a very tight connection
                between the two. This allowed the wheel to spin whenever the motor was activated.</li>
                <br>
            <li>To activate the motor remotely, I purchased a general, wireless DC relay that included a remote controller. After some tinkering I was able to properly wire everything to the circuit's terminals and activate
                the motor remotely.</li>
                <br>
        </ul>

        <!-- Visuals -->
        <br>
        <h2><span class='topicFont'><i class="fas fa-angle-right"></i>&nbsp;Visuals</span></h2>
        <br>
        <p>COMING SOON!</p>
        <!-- <img src="/static/project_photos/underneathSkate.jpg" alt="Spider Front" style="width:500px;height:600px;">
        <br>
        <video width="320" height="240" autoplay>
            <source src="skateLive.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>  -->
        <br>
        <br><br><br><br>

        </span>

    </body>

    <!-- Footer -->

    <center>
        <div class ="scrollFooter">
            <br>
            <a href="/LEDCube"><i class="fas fa-caret-left"></i> LED Cube</a>
            &nbsp;&nbsp;
            <a href="/">Home <i class="fas fa-home"></i></a>
            &nbsp;&nbsp;
            <a href="/Website">Website <i class="fas fa-caret-right"></i></a>
            <br><br><br>
        </div>
    </center>

</html>